$bgAnswerButtonAndText: black;
$bgCorrectAnswerButtonAndText: #219653;
$bgWrongAnswerButtonAndText: #F90000;

.wrapper{
    list-style: none;
    padding: 20px;
    margin: 0 0 40px;
    border: 2px solid #E5E5E5;
    border-radius: 26px;
    background: rgba(252, 163, 17, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    
    .quesion{
        font-size: 1.4em;
        font-weight: 700;
        margin: 15px 0px 35px;
    }

    .answersWrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        .answer{
            color: black;
            font-weight: 700;
            font-size: 1.3em;
            border: 3px solid $bgAnswerButtonAndText;
            border-radius: 38px;
            background: white;
            height: 45px;
            max-width: 150px;
            min-width: 140px;
        }

        .correct{
            @extend .answer;
            border-color: $bgCorrectAnswerButtonAndText;
            color: $bgCorrectAnswerButtonAndText;
        }

        .wrong{
            @extend .answer;
            border-color: $bgWrongAnswerButtonAndText;
            color: $bgWrongAnswerButtonAndText;
        }
    }
}

@media (max-width: 800px){
    .answersWrapper{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .answer{
            margin-bottom: 10px;
        }
    }
}