$bgAnswerButtonAndText: black;
$bgCorrectAnswerButtonAndText: #219653;
$bgWrongAnswerButtonAndText: #F90000;
$bgOrange: #fca311;
$bgColorDark: #d5d5d5;
$borderColor: #E5E5E5;

.wrapper{
    list-style: none;
    padding: 20px;
    margin: 0 0 40px;
    border: 2px solid $borderColor;
    border-radius: 26px;
    background: $bgOrange;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    box-shadow: 0 0px 15px -5px black;
    
    &:not(.active){
        filter: blur(4px);
    }

    .quesion{
        font-size: 1.4em;
        font-weight: 700;
        margin: 15px 0px 35px;
        text-align: center;
    }
    
    &:hover, 
    &:focus-within{
        outline: none;
        box-shadow: 0 5px 20px -5px black;
    }

    .answersWrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        .answer{
            color: black;
            font-weight: 700;
            font-size: 1.3em;
            border: 3px solid $bgAnswerButtonAndText;
            border-radius: 38px;
            background: white;
            height: 45px;
            max-width: 150px;
            min-width: 140px;
            outline: none;
            box-shadow: 0 0px 15px -5px black;

            &:hover, &:focus{
                box-shadow: 0 5px 20px -5px black;
                outline: none;
                border-width: 4px;
                transform: translateY(-2px);
            }
        }

        .correct{
            @extend .answer;
            border-color: $bgCorrectAnswerButtonAndText;
            color: $bgCorrectAnswerButtonAndText;
        }

        .wrong{
            @extend .answer;
            border-color: $bgWrongAnswerButtonAndText;
            color: $bgWrongAnswerButtonAndText;
        }
    }
}

.active{
    filter: blur(0px);
}

@media (max-width: 800px){
    .answersWrapper{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .answer{
            margin-bottom: 10px;
        }
    }
}