@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: auto; }
}

.wrapper {
    position: fixed;
    right: 0;
    top: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .triggerWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50px;
        

        .trigger {
            background: #fca311;
            border: 1px solid black;
            border-right: none;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            transition: .1s;
            cursor: pointer;
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            padding: 10px 5px;
            user-select: none;

            @mixin border-radius {
                border-radius: 10px 0 0 10px
            }

            &:hover {
                width: 70px;
                @include border-radius;
            }

            &.first {
                border-radius: 10px 0 0;
            }

            &.inside {
                border-radius: 0;
            }

            &.last {
                border-radius: 0 0 0 10px;
            }

            &.first:hover,
            &.inside:hover,
            &.last:hover {
                @include border-radius;
            }

            &.big {
                width: 300px;
                transition: .1s;
                
                &.first:hover,
                &.inside:hover,
                &.last:hover {
                    border-radius: 10px 0 0 0;
                }
            }

            @media(max-width: 420px) {
                width: 35px;
                min-height: 50px;

                &:hover {
                    width: 35px;
                    border-radius: 0;
                }

                &.big{
                    width: 300px;
                }

                &.first:hover {
                    border-radius: 10px 0 0 0;
                }

                &.inside:hover {
                    border-radius: 0;
                }

                &.last:hover {
                    border-radius: 0 0 0 10px;
                }
            }
        }

        .rules {
            height: 0;

            p {
                display: none;
            }

            &.show{
                background: white;
                display: block;
                width: 300px;
                border: 1px solid black;
                border-right: none;
                height: auto;
                border-radius: 0 0 0 10px;
                animation: fadeIn .5s;
                overflow-y: auto;
                max-height: 650px;

                p {
                    display: block;
                }

                @media(max-height: 900px) {
                    max-height: 360px;
                }

                @media(max-height: 650px) {
                    max-height: 300px;
                }

                @media(max-height: 580px) {
                    max-height: 200px;
                }

                @media(max-width: 420px) {
                    max-height: 280px;
                }
            }
        }
    }

    @media(max-width: 420px) {
        top: 90px;
    }
}